<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>G</b>LC</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Grace</b>Land</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    @{
        Html.RenderPartial("_PartialNavigation");
    }
</header>
