@using Hotel.Data.Objects.Entities
@model IEnumerable<Hotel.Data.Objects.Entities.ItemCategory>

@{
    Layout = "../Shared/_LayoutTable.cshtml";
    ViewBag.Title = "List";
    ViewBag.Header = "Item Category";
    ViewBag.TableHeader = "List of all Item Categories";
    var category = new ItemCategory();
}
@section add {
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary  fa fa-plus pull-right" data-toggle="modal" data-target="#myModal">
        Add Category
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add a new Category</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("CreateCategory", category);
                    }
                </div>
            </div>
        </div>

    </div>

}
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Open", "Details", new {id = item.ItemCategoryId}, new {@class = "fa fa-folder-open"})
            </td>
        </tr>
    }
    </tbody>


</table>